// transitions

/*.planet-outer-circle {
	animation: outerRingSpin 1s infinite linear;


	// Helper class, for adding jQuery
	&.stop-playing{
		animation-play-state: paused;
	}
}*/


// Keyframes

/*@keyframes ringSpin {
	0% {
		transform: skew(0deg); 
		transform: translateZ(0deg); 
	}
	50% {
		transform: skew(0.5deg); 
	}
	100% {
		transform: skew(0deg); 
		transform: translateZ(360deg); 
	}
}*/

@keyframes outerRingSpin {
	0% {transform: skewY(0deg); transform: skewX(0deg);}
	50% {transform: scale(24deg); transform: skewX(0.5deg);}
	100% {transform: skewY(0deg); transform: skewX(0deg);}
}

@keyframes spin {
	0% {transform: rotateZ(0deg);}
	100% {transform: rotateZ(360deg);}
}

@keyframes wavyFill {
  0% {
    stroke-dashoffset: 220;
  }
  100% {
    stroke-dashoffset: -220;
  }
}

@keyframes floatingPlanet{
    from {transform: translate3d(0px, 0px, 0px);}
    65% {transform: translate3d(0px, 6px, 0px);}
    to {transform: translate3d(0px, 0px, 0px);}    
}

@keyframes shadowGrow {
    0% {width: 90px;}
    50% {width: 110px;}
    100% {width: 90px;}    
}