.block-hero {
	color: white;
	width: 100%;
	height: 100%;
	padding: 20px 0px;
}

.block-hero-purple {
	@extend .block-hero;
	background-color: $drk-purple;
	padding: 200px 0 50px 0;
}

.block-hero-cyan {
	@extend .block-hero;
	background-color: $sweet-cyan;
}

.block-hero-drk-gry {
	@extend .block-hero;
	background-color: $drk-gry;
}

.block-hero-nasa {
	height: 500px;
	max-height: 500px;
	width: 100%;
	padding: 0;
}

.block-nasa {
	@extend .block-hero-nasa;
	background-size: cover !important;
	background-color: rgba($drk-purple, 0.85) !important;
	background-blend-mode: multiply !important;
}