.nav-wrapper {
	position: absolute;
	overflow: auto;
	width: 100%;
	top: 0;
	z-index: 2;
	color: white;
	margin: 10px auto;


	.nav-main {
		margin: 0px auto;
		padding: 0;
		width: 100%;
		max-width: 740px;
		min-width: 480px;

	
		li {
			display: block;
			float: left;

			&.top-nav {
				margin-top: 15px;
			}
		}

	   	svg {
	    	max-width: 110px;
	    }

		a {
			display: block;
			padding: 20px;
			text-decoration: none;
			font-weight: bold;
			font-size: 24px;
			color: white;


			&:hover, 
			&.is-current {
			}
		}

	}
}

.desktop-nav {
	display: none;
}
.mobile-nav {
		display: block;
	}

@include breakpoint(small) {
	.mobile-nav {
		display: none;
	}

	.desktop-nav {
		display: block;
	}

	.nav-wrapper {


	.nav-main {
		margin: 0px auto;
		padding: 0;
		width: 100%;
		max-width: 740px;
		min-width: 480px;

	
		li {
			display: block;
			float: left;

			&.top-nav {
				margin-top: 15px;
			}
		}

		.planet-nav {
		    position: fixed;
		    z-index: 2;
		    background-color: rgba(0, 0, 0, 0.6);
		    top: 0;
		    left: 0;
		    width: 100%;
		    -webkit-transition: background-color .5s ease-in-out;
		    -moz-transition: background-color .5s ease-in-out;
		    transition: background-color .5s ease-in-out;

		   	svg {
		    	max-width: 90px;
		    	width: 100%;
		    }
		}

		a {
			display: block;
			padding: 20px;
			text-decoration: none;
			font-weight: bold;
			font-size: 30px;
			color: white;


			&:hover, 
			&.is-current {
			}
		}

	}
}
}

.sliding-middle-out {
	display: inline-block;
	position: relative;
	margin-top: 10px;

	&:after {
		content: '';
		display: block;
		margin: 8px auto 0;
		height: 3px;
		width: 0px;
		background: transparent;
		transition: width .4s ease-in-out, background-color .4s ease-in-out;
	}
	&:hover:after {
		width: 100%;
		background: white;
		margin-top: 8px;
	}
}

@include breakpoint(med) {

}