.nav-wrapper {
	position: fixed;
	background-color: $mid-purp;
	overflow: auto;
	width: 100%;
	top: 0;


	.nav-main {
		margin: 0;
		padding: 0;
		background-color: $mid-purp;

	
		li {
			display: block;
			float: left;
		}

		a {
			display: block;
			padding: 20px;
			text-decoration: none;
			color: $drk-gry-purp;

			&:hover, 
			&.is-current {
				background-color: rgba($pale-purp, 0.2);
			}
		}

	}

}