.nav-wrapper {
	position: absolute;
	overflow: auto;
	width: 100%;
	top: 0;
	z-index: 2;
	color: white;
	margin: 10px auto;


	.nav-main {
		margin: 0;
		padding: 0;
		background-color: $drk-gry;

	
		li {
			display: block;
			float: left;

			&.top-nav {
				margin-top: 30px;
			}
		}

		.planet-nav {
		    position: fixed;
		    left: 50%;
		}

		a {
			display: block;
			padding: 20px;
			text-decoration: none;
			font-weight: bold;
			font-size: 30px;
			color: white;


			&:hover, 
			&.is-current {
			}
		}

	}

}