#Planet {
	max-width: 320px;
	width: 100%;
	height: auto;
    margin: 0px auto 50px;
}

.planet-inner-circle {
	fill: rgba(white, 0.2);
/*	animation: spin 2s infinite linear;
*/}

.planet-outer-circle {
	position: absolute;
	top: 0px;
	width: 0px;
	height: 0px;
	fill: $drk-gry;
	animation: ringSpin 4s infinite linear;
}

.planet-ring {
	fill: $drk-gry;
	animation: outerRingSpin 2s infinite linear;
}


