#Planet {
	max-width: 280px;
	width: 100%;
	height: auto;
    margin: 0px auto;
    display: block;
}

.planet {
    @include animation(floatingPlanet 2.8s infinite ease-in-out);
}

#Planet-White {
	max-width: 120px;
	width: 100%;
	height: auto;
    margin: 0px auto;
    display: block;
}

/*svg#Planet:before {
	content: '';
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.21);
    border-radius: 235px;
}*/

#wavyLoader {
	@extend #Planet;
	max-width: 240px;
	margin: 0px auto;
}

.planet-inner-circle {
	fill: rgba(white, 0.2);
/*	animation: spin 2s infinite linear;
*/}

.planet-outer-circle {
	position: absolute;
	top: 0px;
	width: 0px;
	height: 0px;
	fill: $drk-gry;
	@include animation(ringSpin 5s infinite ease-in-out);
}

.planet-ring {
	fill: $drk-gry;
	@include animation(outerRingSpin 7s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55));
}

.wave {
	stroke-dasharray: 220;
	stroke-dashoffset: 220;
	@include animation(wavyFill 2.4s linear infinite);
}

.planet-inner-circle-nav {
	fill: rgba(black, 0.2);
}

#loader-wrapper {
  position: fixed;
  background-color: $lte-gry;
  max-width: 100%;
  width: 100%;
  height: 100%;
	z-index: 1;
  top: 0;
  overflow: hidden;

	&.js-show {
		display: none;
	}
}

.load-svg-wrapper {
    position: relative;
    top: 45%;
    transform: translateY(-45%);
}

span:nth-of-type(1) {
    z-index: -9;
}

.planet-shadow {
  
  li, span {
    border-radius: 75px;
    width: 90px;
    margin: 0px auto;
    @include animation(shadowGrow 2.8s ease-in-out infinite);
  }

  span {
    display: block;
    left: 0;
    position: relative;
    top: 0;
  }
  
  span:nth-of-type(1){
  	left: -7px;
  	top: -10px;
  	background:rgba(20, 20, 20, 0.06);
  	box-shadow:0px 0 30px 28px rgba(20, 20, 20, 0.06);
  	-webkit-transform:scaleY(.3);
  	-webkit-box-shadow:0px 0 42px 28px rgba(20, 20, 20, 0.06);
  	height:100px;
  }
}