#Planet {
	max-width: 280px;
	width: 100%;
	height: auto;
    margin: 0px auto;
    display: block;
}

.planet {
    @include animation(floatingPlanet 2.8s infinite ease-in-out);
}

/*svg#Planet:before {
	content: '';
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.21);
    border-radius: 235px;
}*/

#wavyLoader {
	@extend #Planet;
	max-width: 240px;
	margin: 0px auto;
}

.planet-inner-circle {
	fill: rgba(white, 0.2);
/*	animation: spin 2s infinite linear;
*/}

.planet-outer-circle {
	position: absolute;
	top: 0px;
	width: 0px;
	height: 0px;
	fill: $drk-gry;
	@include animation(ringSpin 5s infinite ease-in-out);
}

.planet-ring {
	fill: $drk-gry;
	@include animation(outerRingSpin 7s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55));
}

.wave {
	stroke-dasharray: 220;
	stroke-dashoffset: 220;
	@include animation(wavyFill 2.4s linear infinite);
}
