@import 'partials/reset';
@import 'bourbon/bourbon';
@import 'font-awesome/font-awesome';
@import 'partials/mixins';
@import 'partials/typography';
@import 'partials/colors';
@import 'partials/buttons';
@import 'partials/nav';
@import 'partials/grid';
@import 'partials/blocks';
@import 'partials/svg';
@import 'partials/animations';

body {

	font-family: $default-font;

	@include breakpoint(small) {
	}

	@include breakpoint(med) {
	}
}

html,body {
  height:100%;
  margin:0;
}

.content {
  height:100%;
  min-height:100%; /*for mozilla*/
}

html>body .content {
  height:auto;
}

.wrapper {
  position: relative;
  height: 100%;
}

.intro {
    position: relative;
    background: url(../image/HomeHero_galaxy_compressed.jpg) top center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height:100%;
}
