@import 'partials/normalize';
@import 'partials/reset';
@import 'partials/mixins';
@import 'bourbon/bourbon';
@import 'partials/typography';
@import 'partials/colors';
@import 'partials/buttons';
@import 'partials/nav';
@import 'partials/grid';
@import 'partials/blocks';
@import 'partials/borders';
@import 'partials/svg';
@import 'partials/animations';

body {

	font-family: $default-font;
  min-width: 320px;
  width: 100%;

	@include breakpoint(mini) {
  }

  @include breakpoint(small) {
	}

	@include breakpoint(med) {
	}
}

html,body {
  height:100%;
  margin:0;
}

.content {
  height:100%;
  min-height:100%; /*for mozilla*/
}

html>body .content {
  height:auto;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.center-contain {
  position: relative;
}

.center-absolute {
  height: 100%;
  max-height: 35%;
  min-height: 15%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  @include breakpoint(small) {
    max-height: 25%;
  }
}

#loader {
    display: block;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    max-width: 200px;
    width: 100%;
    left: 50%;

    @include breakpoint(small){
      max-width: 260px;
    }
}

/* Loaded */
.loaded {

    #loader-wrapper .loader-section.section-left {
      -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: translateX(-100%);  /* IE 9 */
              transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
      -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    #loader-wrapper .loader-section.section-right {
      -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: translateX(100%);  /* IE 9 */
              transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
      -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    #loader {
      opacity: 0;
      -webkit-transition: all 0.3s ease-out;  
              transition: all 0.3s ease-out;
    }

    #loader-wrapper {
      visibility: hidden;

      -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: translateY(-100%);  /* IE 9 */
              transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

      -webkit-transition: all 0.3s 1s ease-out;  
              transition: all 0.3s 1s ease-out;
    }
}


.wrapper {
  position: relative;
  height: 100%;
}

.intro {
    position: relative;
    background: url(../image/HomeHero_galaxy_compressed.jpg) top center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height:100%;
    top: 0;
    left: 0;
}

#intro {

  .sub-head {
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: 100;
    line-height: 2.5em;
    letter-spacing: .05em;
  }

  .big-hero-txt {
    @extend .sub-head;
    font-size: 86px;
    font-weight: bold;
    line-height: .8em;
    letter-spacing: 0;


    @include breakpoint(small) {
        padding: 0px 50px;
    }

  }

}

.sub-head-about {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 21px;
  margin: 0;
  letter-spacing: .05em;
}

.headline-about {
  &:before {
    display: block;
    margin-top: 20px;
    content: '';
  }

  @extend .sub-head;
  font-weight: bolder;
  font-size: 76px;
  margin: 0;
  line-height: 0.95em;
}

.about-txt {
  font-family: $arvo;
  font-weight: 400;
  font-style: italic;
  color: $lte-purple;
  font-size: 26px;
  margin-top: 40px;
  text-align: left;
  padding: 0 30px;

  @include breakpoint(small) {
    padding: 0 100px;
  }

  @include breakpoint(med) {
      text-align: left;
      padding: 0;
  }

}

.definition {
  @extend .about-txt;
  font-family: $default-font;
  color: white;
  font-size: 16px;
  margin: 10px 0;
  line-height: 1.35em;
}

.hidden-animation {
  opacity: 0;
}

.visible-animation {
  opacity: 1;
}

.animation-begin {
  @include animation(fadeInDown 1s ease-in-out 1);
}

#stats {
  text-align: left;
  display: none;

  @include breakpoint(med){
    display: block;
  }

  .about-field-header {
      @extend .sub-head-about;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: .4em;
      margin-bottom: 20px;
    }

  .stat-headings {
    float: left;
  }

    .skill-header {
      color: $lte-purple;
      font-family: $arvo;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    .pad12 {
      margin: 34px 0;
    }

    ul.cc-stat-bar {
        list-style-type: disc;
        margin: 0 0 0 30px;

        li {
          list-style-type: disc;
          margin: 10px 0 0 0;
          font-size: 16px;
          font-weight: 400;
        }
      }
 
  .stat-bars {
    float: right;
    width: 64%;


    .stat-bar-adobe {
      position: relative;
      display: block;
      width: 99%;
      transform-origin: bottom left;
      height: 30px;
      border-radius: 2px;
      background-color: $cyan;
      bottom: 6px;
      @include animation(statsSlide 0.5s linear 1 100ms);
    }

    .stat-bar-fe {
      @extend .stat-bar-adobe;
      background-color: $sweet-green;
      width: 82%;
      margin-top: 24px;
      @include animation(statsSlide 0.7s linear 1);
    }

    .stat-bar-art {
      @extend .stat-bar-adobe;
      background-color: $lte-purple;
      margin-top: 21px;
      width: 85%;
      @include animation(statsSlide 1s linear 1);
    }

    .stat-bar-photog {
      @extend .stat-bar-adobe;
      background-color: $peach;
      margin-top: 21px;
      width: 75%;
      @include animation(statsSlide 1.8s linear 1 100ms);
    }

    .stat-bar-work {
      @extend .stat-bar-adobe;
      background-color: $sweet-red;
      margin-top: 21px;
      width: 101%;
      @include animation(statsSlide 3.4s linear 1 100ms);
    }

    .stat-bar-ai {
      &:after {
        @extend .stat-bar-adobe;
        height: 10px;
        background-color: rgba($lte-gry, 0.7);
        content: '';
        top: 0;
        margin: 15px 0;
        width: 97%;
        @include animation(statsSlide 2.5s cubic-bezier(0.65, 0.05, 0.36, 1) 1);
      }
    }

    .stat-bar-id {
        &:after {
        @extend .stat-bar-ai;
        background-color: rgba($lte-gry, 0.6);
        content: '';
        top: 0;
        width: 95%;
        @include animation(statsSlide 2.7s cubic-bezier(0.65, 0.05, 0.36, 1) 1);
      }
    }

    .stat-bar-ps {
        &:after {
        @extend .stat-bar-ai;
        background-color: rgba($lte-gry, 0.48);
        content: '';
        top: 0;
        width: 93%;
        @include animation(statsSlide 2.9s cubic-bezier(0.6, 0.05, 0.36, 1) 1);
      }
    }

    .stat-bar-ae {
        &:after {
        @extend .stat-bar-ai;
        background-color: rgba($lte-gry, 0.2);
        content: '';
        top: 0;
        width: 60%;
        @include animation(statsSlide 3.5s ease-in-out 1);
      }
    }

    .stat-bar-premiere {
        &:after {
        @extend .stat-bar-ai;
        background-color: rgba($lte-gry, 0.3);
        content: '';
        top: 0;
        width: 75%;
        @include animation(statsSlide 3.1s cubic-bezier(0.5, 0.03, 0.3, 1) 1);
      }
    }

    .stat-bar-mini-css {
        &:after {
        @extend .stat-bar-ai;
        background-color: rgba($lte-gry, 0.6);
        content: '';
        top: -5px;
        width: 80%;
        @include animation(statsSlide 3.8s cubic-bezier(0.5, 0.03, 0.3, 1) 1);
      }
    }

    .stat-bar-mini-jquery {
        &:after {
        @extend .stat-bar-ai;
        background-color: rgba($lte-gry, 0.3);
        content: '';
        top: -4px;
        margin-bottom: 14px;
        width: 50%;
        @include animation(statsSlide 4s cubic-bezier(0.5, 0.03, 0.3, 1) 1);
      }
    }
    .stat-bar-mini-wp {
      &:after {
        @extend .stat-bar-mini-jquery;
          background-color: rgba($lte-gry, 0.25);
          width: 76%;
          @include animation(statsSlide 4.2s cubic-bezier(0.5, 0.03, 0.3, 1) 1 100ms);
      }
    }

    .stat-bar-mini-sass {
      &:after {
        @extend .stat-bar-mini-jquery;
          background-color: rgba($lte-gry, 0.25);
          width: 57%;
      }
    }
  }
}

#Contact {
  .headline-about{
    color: rgba($sweet-red, 0.9);
    font-family: $arvo;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    font-size: 6em;
    @include animation(fadeInDown 1.6s ease 1);
  }
}

#Communication {
  padding: 80px 0;
}

footer {
  background-color: $drk-gry;
  position: relative;
  bottom: 0;
}

.footer-txt {
  padding: 20px 0px;
  color: rgba($lte-gry, 0.4);
  font-family: $arvo;
  font-size: 14px;
  letter-spacing: 1px;
}

.hidden {
  display: none;
}
