@import 'partials/reset';
@import 'bourbon/bourbon';
@import 'font-awesome/font-awesome';
@import 'partials/mixins';
@import 'partials/typography';
@import 'partials/colors';
@import 'partials/buttons';
@import 'partials/nav';
@import 'partials/grid';
@import 'partials/blocks';
@import 'partials/svg';
@import 'partials/animations';

body {

	font-family: $default-font;

	@include breakpoint(small) {
	}

	@include breakpoint(med) {
	}
}

html,body {
  height:100%;
  margin:0;
}

.content {
  height:100%;
  min-height:100%; /*for mozilla*/
}

html>body .content {
  height:auto;
}

#loader-wrapper {
    position: absolute;
    background-color: $lte-gry;
    max-width: 100%;
    width: 100%;
    height: 100%;
	z-index: 1;

	&.js-show {
		display: none;
	}
}

.load-svg-wrapper {
    position: relative;
    top: 45%;
    transform: translateY(-45%);
}

.wrapper {
	position: relative;
	height: 100%;
}

li, span {
    -webkit-border-radius: 75px;
    width: 90px;
    margin: 0px auto;
}

span {
    display: block;
    left: 0;
    position: relative;
    top: 0;
}

span:nth-of-type(1) {
    z-index: -9;
}


.planet-shadow h2{display:block;height:80px;top:165px;}
.planet-shadow span:nth-of-type(1){
	left: -7px;
	background:rgba(20, 20, 20, 0.06);
	-webkit-transform:scaleY(.3);
	-webkit-box-shadow:0px 0 42px 28px rgba(20, 20, 20, 0.06);
	height:100px;
}
